@model Memberships.Areas.Admin.Models.SubscriptionProductModel
@using Memberships.Areas.Admin.Models

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>Subcription Product </h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>@Html.DisplayNameFor(model => model.SubscriptionId)</dt>
        <dd>@Html.DisplayFor(model => model.SubscriptionId)</dd>
        <dt>@Html.DisplayNameFor(model => model.SubscriptionTitle)</dt>
        <dd>@Html.DisplayFor(model => model.SubscriptionTitle)</dd>
        <dt>@Html.DisplayNameFor(model => model.ProductId)</dt>
        <dd>@Html.DisplayFor(model => model.ProductId)</dd>
        <dt>@Html.DisplayNameFor(model => model.ProductTitle)</dt>
        <dd>@Html.DisplayFor(model => model.ProductTitle)</dd>
    </dl>
</div>
<p>
    @Html.Partial("_SmallButtonPartial", new SmallButtonModel 
    { Action = "Edit", ButtonType = "btn-primary", Glyph = "pencil", 
        Text = "Edit", ContentId = Model.SubscriptionId, ProductId = Model.ProductId, 
        DisplayText = true })
    @Html.Partial("_BackToListButtonPartial")
</p>
