@model IEnumerable<Memberships.Areas.Admin.Models.SubscriptionProductModel>
@using Memberships.Areas.Admin.Models;

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
   @Html.Partial("_CreateNewButtonPartial")
</p>
<table class="table">
    <tr>
        <th>@Html.DisplayNameFor(model => model.ProductTitle)</th>
        <th>@Html.DisplayNameFor(model => model.SubscriptionTitle)</th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>@Html.DisplayFor(modelItem => item.ProductTitle)</td>
        <td>@Html.DisplayFor(modelItem => item.SubscriptionTitle)</td>

        <td>
            @Html.Partial("_SubcriptionsProductTableButtonPartial", new SmallButtonModel { SubscriptionId = item.SubscriptionId, ProductId = item.ProductId })
        </td>
    </tr>
}

</table>
